<%= form_with(model: @book, local: true, url: books_path) do |form| %>
  <% if @book&.errors&.full_messages&.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 mt-4 row">
    <div class="col-sm-2 col-form-label">
      <strong><%= form.label :name %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.text_field :name, autocomplete: "Name", class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <strong><%= form.label :author %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.text_field :author, autocomplete: "Author", class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <strong><%= form.label :description %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.text_field :description, autocomplete: "Description", class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>

<!--  <div class="mb-3 row">-->
<!--    <div class="col-sm-1 col-form-label">-->
<!--      <strong><%#= form.label :topic_ids %></strong>-->
<!--    </div>-->

<!--    <div class="col-sm-9">-->
      <%#= form.collection_select :topic_ids, Topic.all, :id, :title, { include_blank: 'Not selected' }, {:multiple => true, class: 'form-control form-control'}  %>
<!--    </div>-->
<!--  </div>-->
<!--  <br>-->

  <div class="form-group">
    <div class="mb-3 row">
      <div class="col-sm-2 col-form-label">
        <strong><%= form.label :image %></strong>
      </div>

      <div class="col-sm-9">
        <%= form.file_field :image, autocomplete: "Image", class: 'form-control form-control-lg  shadow-lg bg-body rounded '  %>
      </div>
    </div>
    <br>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-dark mb-3' %>
    <%= link_to "Create topic", new_topic_path, class: 'btn btn-dark mb-3' %>
  </div>
<% end %>