<h1>Books</h1>

<div class="books row">
  <% @books.each do |book| %>
    <div class="card mx-5 mt-5 col-md-4" style="width: 18rem;">
      <% if book.image.attached? %>
        <%= image_tag book.image, class: "card-img-top" %>
      <% else %>
        <%= link_to(image_tag("book.svg",
                              class: 'card-img-top')) %>
      <% end %>
      <div class="card-body text-center">
        <h5 class="card-title"><%= book.name %></h5>
        <p class="card-text"><%= truncate strip_tags(book.author), length: 150 %></p>
        <%= link_to 'Show', book_path(book) %>
          <% if book.status == 'ready_for_order' %>
            <%= button_to 'Order', update_status_book_path(book, status: :ordered), method: :patch, class: 'link-1' %>
          <% elsif book.status == 'ordered' %>
            <p>Book was ordered</p>
          <% elsif book.status == 'applied' %>
            <p>Book was applied</p>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= link_to 'New book', new_book_path, class: 'btn btn-dark' %>