<div class="show">
  <h2><strong><%= @book.name %></strong></h2>
  <h5><strong>Author:</strong> <%= @book.author %></h5>
  <h5><strong>Status:</strong> <%= @book.status %></h5>
  <h5><strong>topics:</strong>
    <% if @book.topics.length != 0 %>
      <% @book.topics.each do |topic|%>
      <%= topic.title %>
      <% end %>
    <% else %>
      There are no topics yet
    <% end %>
  <h5><strong>Description:</strong> <%= @book.description %></h5>
  </h5>
  <% if @book.image.attached? %>
    <h5><strong>Image:</strong></h5>
    <div class="img-block">
      <% if @book.image.variable? %>
        <%= image_tag @book.image, class: 'img' %>
      <% else %>
        <%= link_to(image_tag("book.svg",
                              class: 'card-img-top card-image img')) %>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'Back', books_path, class: 'btn btn-dark mt-2' %>
</div>

<small>Submitted <%= time_ago_in_words(@book.created_at) %> ago</small>

<h3>Comments</h3>

<%= form_for [@book, Comment.new] do |f| %>
  <%= f.text_area :body, placeholder: "Add a comment", class: "form-control" %><br/>
  <%= f.submit "Add Comment", class: 'btn btn-dark' %>
<% end %>

<ul>
  <%= render @book.comments.where(censored: true) %>
</ul>
